* {
    border: 0;
    margin: 0;
    padding: 0;
}

header {
    box-sizing: border-box;
    border: solid 1px #707070;
    /* padding-bottom: 20px; */
    height: auto;
    overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}


#navbar-logo {
    margin-left: 1.9%;
    margin-top: 20px;
    display: inline-flex;
    position: relative;
    bottom: 10px;
}

.navbar-text {
    display: inline-block;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: left;
    vertical-align: top;
    color: #707070;
    top: 48px;
}

#navbar-login {
    margin-right: 31.4%;
    margin-left: 3%;
}

#navbar-search {
    width: 27.1%;
    border: solid 1px #707070;
}

#navbar-profile img {
    display: inline-block;
    margin-left: 3.3%;
    margin-top: 10px;
    border-radius: 100%;
}