* {
    margin: 0;
    padding: 0;
}

body {
    background-color: wheat;
}

nav {
    
    width: 84.375%; /* 1620 / 1920 */
    margin: 0 auto;
    border: 3px solid #FF00FF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 103px;
    flex-wrap: nowrap;
}

#navbar-logo {
    text-decoration: none;
    text-emphasis: none;
    margin-right: 4.3209876543209874%; /* 70 / 1620 */
}

#navbar-login {
    display: flex;
    background-color: #9be9a3;
    width: 14.012345679012345%; /* 227 / 1620 */ 
    height: 87px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-right: 24.259259259259258%; /* 393 / 1620 */
}

#navbar-login a {
    overflow: hidden;
    display: block;
    font-family: 'Salsa', cursive;
    text-overflow: ellipsis;
    word-wrap: break-word;
    color: #136a12;
    font-size: 24px; 
}

#navbar-search {
    width: 33.024691358024694%; /* 535 / 1620 */ 
    height: 80px;
    border-radius: 40px;
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
}

#navbar-search img {
    margin-left: 4.5%;
}

#navbar-search input {
    margin-left: 4.1%;
    width: 75%;
    font-family: 'Salsa', cursive;
    color: #136a12;
    border: none;
    font-size: 24px;
}

#navbar-profile img {
    border-radius: 100%;
}