* {
    margin: 0;
    padding: 0;
}

nav {
    
    width: 84.375%; /* 1620 / 1920 */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 103px;
    flex-wrap: nowrap;
}

#navbar-logo {
    text-decoration: none;
    text-emphasis: none;
    margin-right: 4.3209876543209874%; /* 70 / 1620 */
    margin-top: 48px;
}

#navbar-login {
    display: flex;
    background-color: rgba(181, 244, 188, 0.7);
    width: 14.012345679012345%; /* 227 / 1620 */ 
    height: 87px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-right: 24.259259259259258%; /* 393 / 1620 */
    margin-top: 27px;
}

#navbar-login a {
    overflow: hidden;
    display: block;
    font-family: 'Salsa', cursive;
    text-overflow: ellipsis;
    word-wrap: break-word;
    color: #136a12;
    font-size: 24px; 
}

#navbar-login a::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:  rgba(19, 106, 18, 1);
    opacity: 1; /* Firefox */
}

#navbar-login a::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(19, 106, 18, 1);
}

#navbar-login a:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(19, 106, 18, 1);
}

#navbar-search {
    width: 33.024691358024694%; /* 535 / 1620 */ 
    height: 80px;
    border-radius: 40px;
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

#navbar-search img {
    margin-left: 4.5%;
}

#navbar-search input {
    margin-left: 4.1%;
    width: 75%;
    font-family: 'Salsa', cursive;
    color: rgba(19, 106, 18, 1);
    border: none;
    font-size: 24px;
}

#navbar-profile img {
    margin-top: 18px;
}

@media only screen and (orientation: portrait) {
    nav {
        flex-direction: column;
        height: 500px;
    }
    #navbar-logo {
        order: 1;
    }
    #navbar-login {
        width: 95%;
        margin: 0 auto;
        order: 3;
    }
    #navbar-search {
        width: 95%;
        margin: 0 auto;
        order: 4;
    }
    #navbar-profile {
        order: 2;
    }
}